.outerColorContainer {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 0.5rem;
	border-radius: 1rem 0 0 0;
	background-color: var(--bg-800);
	display: flex;
	flex-direction: column;
}

.colorSelectorTitle {
	align-self: center;
	justify-self: center;
	text-align: center;
}

.optionsContainer {
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.colorItem {
	width: 100%;
	position: relative;
	transition: all 0.5s ease-in-out;
	display: flex;
	flex-direction: row;
	padding: 0.5rem;
	gap: 1rem;
	align-items: center;
}

.optionButtonTitle {
	transition: all 0.3s ease-in-out;
	font-size: 1rem;
	flex-grow: 1;
}

.color {
	width: 1.5rem;
	aspect-ratio: 1;
	border-radius: 50%;
	cursor: pointer;
}

.palette {
	position: absolute;
	background-color: var(--bg-700);
	padding: 1rem;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	right: 0;
	top: -600%;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
