.inputContainer {
	display: flex;
	flex-direction: column;
	width: 100%;

	.label {
		margin-bottom: 0.5rem;
	}

	&:has(.mq-focused, :focus) .label {
		text-decoration: underline;
	}

	> .input,
	> input {
		width: 100%;
		padding: 0.5rem;
		color: #fff;
		background-color: var(--bg-800);
		background-clip: padding-box;
		border: none;
		border-radius: 0.25rem;
		transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
		box-shadow: #0003 0 0 0.5rem 0;
	}

	> input {
		font-size: 1rem;
		line-height: 1.5;
	}
}
