.carouselContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.carousel {
	display: flex;
	flex-direction: row;
	overflow: hidden;
	width: 90%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.carouselSlider {
	flex-grow: 1;
}

.carouselButton {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	outline: none;
	border: none;
	background-color: transparent;
	color: var(--color-primary);
	z-index: 1;

	&:hover {
		color: var(--color-secondary);
	}

	&:disabled {
		opacity: 0;
		cursor: default;
	}
}

.slideInner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&.active {
		transform: scale(1.1);
	}
}

.experiment {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	overflow: hidden;
	position: relative;
	width: 15rem;
	padding: 1.5rem;
	border-radius: 1rem;
	border: 1px solid var(--bg-600);
	aspect-ratio: 1;
	transition: border 0.2s ease-in-out;
	background-color: var(--bg-900);
	gap: 0.5rem;
	box-shadow: #00000033 0 0 0.5rem 0;

	span {
		text-align: center;
	}

	.title {
		font-size: 1.2rem;
		font-weight: 600;
		color: var(--color-primary);
	}

	.subtitle {
		font-size: 1rem;
		font-weight: 400;
		color: var(--color-secondary);
	}

	&:hover {
		border: 2px solid var(--bg-600);
		cursor: pointer;
	}
	.icon {
		width: 80%;
	}
}
